.navigation-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: unset;
    font-size: 20px;
    margin-bottom: 800px;
    
    &:hover {
        opacity: 0.8;
    }
    
}

.navigation-item.active {
    font-weight: 700;
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 200%;
        padding: 0 20px;
        border-radius: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
        background: var(--paletteColor11);
    }
}
.navigation-profile {
    color: white;
    font-size: 24px;
    text-decoration: unset;
    font-weight: 700;
    margin-bottom: 30px;
    display: block;
    margin-top: 170px;

    .profile-wrapper {
        position: relative;
    }
}
.navigation-avatar {
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 20px;
    border-radius: 50%;
    background: var(--paletteColor5);
    position: relative;

    a{
        text-decoration: none;
        color: white;
        display: block;

        svg{
            margin: 0 6px -3px 0;
        }

    }
}

.user-status {
    position: absolute;
    left: 120px;
    bottom: -2px;

        span {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            
        }

        &.online span{
            background: #578843;
            
        }
    
        &.offline span{
            background: #f40009;
            
        }
    }

.logout {
    bottom: 0;
    left: 0;
    color: var(--paletteColor5);
    background: unset;
    border: unset;
    font-size: 16px;
    transition: 0.3s all ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 40px;

    &::before{
        content: '';
        display: block;
        width: 26px;
        height: 26px;
        background: transparent url(./assets/exit.png) center center no-repeat;
        background-size: cover;
        margin-right: 10px;
    }

    &:hover {
        opacity: 0.7;
        transition: 0.3s all ease;
    }
}

.navigation-home{
    padding: 12px 28px;
    background: #5e5757;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    margin-top: 20px;
}